<h1 align="center">Listing all articles</h1>

 <% @articles.each do |article| %>
  <div class="row mt-5 mb-5">

    <div class="col-xl-8 offset-2">

      <div class="card">


        <div class="article-title card-title">

          <%= link_to article.title, article_path(article) %>

        </div>


        <div class="article-body card-body">

          <%= truncate(article.description, length: 100) %>
          <%# this will truncate the article so it doesnt load the entire article on the page %>

        </div>


        <div class="article-actions list-group list-group-flush">

          <div class="list-group-item">

            <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-primary  btn-xlarge btn-danger" %>

            <%= link_to "Delete this article", article_path(article), method: :delete,
                        data: {confirm: "Are you sure?"},
                        class: "ml-3 btn btn-primary btn-xlarge btn-danger" %>

          </div>

        </div>

      </div>

    </div>

  </div>

<% end %>
